			<?py include('view/common/footer.html') ?>
		</div>

		<script src="/static/skin/js/plugins/lazyLoad/jquery.lazyload.min.js"></script>
		<script src="/static/skin/js/plugins/bootstrap/bootstrap.min.js"></script>
		<script src="/static/skin/js/plugins/dropdown.js"></script>

		<script src="/static/skin/js/plugins/Jcrop/jquery.Jcrop.min.js"></script>
		<script src="/static/skin/js/upload/jquery.ui.widget.js"></script>
		<script src="/static/skin/js/upload/jquery.iframe-transport.js"></script>
		<script src="/static/skin/js/upload/jquery.fileupload.js"></script>
		<script src="/static/skin/js/common.js"></script>
		<script src="/static/skin/js/gzh_reg.js"></script>
		<script src="/static/skin/js/gzh_login.js"></script>
		<script src="/static/skin/js/account/gzh-common.js"></script>
		<script src="/static/skin/js/account/account.js"></script>
		<script src="/static/skin/js/plugins/laytpl/laytpl.min.js"></script>
	</body>
</html>