<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="col-md-2">
    <div class="leftmenu affix hiddden-xs hidden-sm">
        <ul class="nav-left nav nav-primary nav-stacked">
            <li id="banner_type">
                <a href="/gzh/ops/create/b_type">
                    新增banner类型
                </a>
            </li>
            <li id="banner_types">
                <a href="/gzh/ops/query/banner/types" >
                    所有banner类型
                </a>
            </li>
            <li id="banner">
                <a href="/ghz/ops/create/banner">
                    新增banner
                </a>
            </li>
            <li id="banners">
                <a href="/gzh/ops/query/banners">
                    所有banner列表
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>