<ion-header-bar class="bar-positive bar bar-header disable-user-behavior" align-title="center">
    <button ng-click="$ionicGoBack($event)" class="button back-button buttons  button-clear header-item">
    <i class="icon ion-ios-arrow-back"></i> 
    <span class="back-text">
        <span class="default-title hide">返回</span>
    </span>
    </button>
    <div class="title title-center header-item">跟贴</div>
    <a class="publish" ng-click="onPush(model)" ng-disabled="model.clicked">发布</a>
</ion-header-bar>
<ion-view view-title="跟贴">
  <ion-content class="topic topic-reply">
	<div class="list">
	  <label class="item item-input">
	    <textarea placeholder="请输入跟贴内容" rows=4 ng-model="model.content"></textarea>
	  </label>
	</div>
    <div class="list">
        <div class="col col-33"  style="display:inline-block;position:relative;overflow:hidden;" ng-repeat="item in uploader.queue">
            <div class="progress" style="margin-bottom: 0;width:100px;position:absolute">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div></div>   
              <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 , width:100 }"></div>
        </div> 
        <div class="col col-33"  style="display:inline-block;position:relative;overflow:hidden;" >
            <input type="file" style="display:none" 
              id="file_reply" multiple nv-file-select="" uploader="uploader"/>
            <img ng-click="onTriggerClick()" src="/static/images/photo.png"/>
        </div>
    </div>

  </ion-content>
</ion-view>	
