<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="col-md-2">
    <div class="leftmenu affix hiddden-xs hidden-sm">
        <ul class="nav-left nav nav-primary nav-stacked">
            <li id="create_topic_tags">
                <a href="/gzh/ops/create/topic/tag/">
                    新增标签
                </a>
            </li>
            <li id="topic_tags_list">
                <a href="/gzh/ops/query/topic/tags/" >
                    所有标签
                </a>
            </li>
            <li id="create_topic_category">
                <a href="/gzh/ops/create/topic/category/">
                    新增话题分类
                </a>
            </li>
            <li id="topic_category_list">
                <a href="/gzh/ops/query/topic/categorys/">
                    所有话题分类
                </a>
            </li>
            <li id="topic_list">
                <a href="/gzh/ops/topic/list">
                    所有话题
                </a>
            </li>
            <li id="create_topic_banner">
                <a href="/gzh/ops/create/banner/">
                    新增banner图
                </a>
            </li>
                <li id="banner_list">
                <a href="/gzh/ops/topic/banner/list">
                    Banner列表
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>