<div class="clearfix row-main">
<?py include('ops/topic/base.html') ?>
 <div class="col-md-10">
   <div class="panel">
     <div class="panel-heading"><strong><i class="icon-globe"></i>创建标签</strong></div>
       <div class="panel-body">
         <form class="form-inline" action="" id="user_ajax_form" method="post" enctype="multipart/form-data" onsubmit="return saveReport();">
           <table class="table table-form">
             <tbody>
              <tr>
                <th class="col-xs-2">标签名称</th>
                <td class="col-xs-6">
                    <input type="text"  class="form-control" value="" id="tag_name" name="tag_name">
                    <span class="text-error red" for="title" ></span>
                </td>
                <td></td>
              </tr>
              <tr>
                <th></th>
                <td colspan="2">
                    <input type="submit" data-loading="稍候..." value="保存" class="btn btn-primary" id="user_submit"></td>
              </tr>
             </tbody>
           </table>
             #{xsrf_form_html}
         </form>
       </div>
   </div>
 </div>
</div>
<?py include('ops/common/dialog.html') ?>
<script language="Javascript">
    $(document).ready(function(){
        $('#topic_tag_nav').addClass('active');
        $('#create_topic_tags').addClass('active');
    });

    function saveReport(){
        $('#user_ajax_form').ajaxSubmit(function(data){
           var obj = $.parseJSON(data);
           if(obj.stat == '1000'){
                alert('创建成功!');
                location.href = "/gzh/ops/query/topic/tags/";
           }else{
                alert('error');
           }
        });
        return false;
    }

</script>