<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>公主号，结婚真实案例分享平台，特价秒杀天天有</title>
    <meta name="keywords" content="公主号，结婚日记，婚礼策划，婚庆公司，婚纱摄影，婚礼创意，旅游婚纱，结婚论坛，结婚社区">
    <meta name="description" content="数万新人真实备婚日记，让过来人告诉你怎样的商家“才靠谱”，学习别人的经验，你的婚礼将更完美！">

    <script type="text/javascript" src="../../static/skin/js/plugins/jQuery/jquery.min.js"></script>

    <link rel="stylesheet" href="../../static/skin/css/common.css" />
    <link rel="stylesheet" href="../../static/skin/css/gzh-base.css" />
    <link rel="stylesheet" href="../../static/skin/css/header-footer.css">
    <link rel="stylesheet" href="../../static/skin/css/login.css" />
    <link rel="stylesheet" href="../../static/skin/css/pages.css" />
    <link rel="stylesheet" href="../../static/skin/css/icon.css" />
    <link rel="stylesheet" href="../../static/skin/css/iconfont.css" />
    <link href="../../static/skin/js/plugins/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <style>
        .gzh-index-topic{ margin: 40px auto}
        .gzh-index-title{ margin: 0; padding: 0 0 12px 0; border-bottom: 1px solid #eee; font-weight: normal}
        .gzh-index-title a:hover{ color: #ff6577}
        .gzh-index-title .iconfont{ margin-left: 4px; font-size: 20px}
        .gl-list{ padding: 20px 0; border-bottom: 1px solid #eee; }
        .gl-list-header{ padding: 0; margin: 0 0 10px 0; font-weight: normal}
        .gl-list-header a{ color: #333;}
        .gl-list-header a:hover{ color: #ff6577;}
        .gl-list-text{ margin-bottom: 8px; line-height: 2}
        .gl-list-text p{ margin: 0; padding: 0}
        .gl-list-thumb a{ display: inline-block; margin-right: 10px; width: 120px; height: 80px}
        .gl-list-thumb img{ object-fit: cover}
        .gi-list{ overflow: hidden; padding: 20px 0; margin: 0; border-bottom: 1px solid #eee; line-height: 1}
        .gi-list dt{ float: left; margin-right: 12px;}
        .gi-list h2{ margin: 0; padding: 8px 0}
        .gi-list h2 a{ color: #333}
        .gi-list h2 a:hover{ color: #ff6577}
    </style>
</head>
<body>
    <div class="gzh-container bg-white">
        <div class="gzh-index-topic w1200 clear">
            <h2 class="gzh-index-title f22">
                <a href="" class="fr f16 text-red">更多<i class="iconfont gzh-enter"></i></a>
                热门话题
            </h2>
            <section class="gzh-topic-list w860 fl">
                <article class="gl-list">
                    <h2 class="gl-list-header f16">
                        <a href="" title="晒一晒抢楼礼物~好惊喜哦~">晒一晒抢楼礼物~好惊喜哦~</a>
                    </h2>
                    <div class="gl-list-cons dark-gray">
                        <div class="gl-list-text">
                            <p>一直不相信网络平台的抽奖活动,但是一直手贱去参与,就像吃饭开个人发票 求中5块钱的心理,前段时间闲来无事刷微信我去！上班忙里偷闲盖个楼 就能得黄金！
                                谁都不能阻拦我抢黄金！话不多说 没有中了奖不刺激人的道理！来人啊 放图！</p>
                        </div>
                        <div class="gl-list-thumb">
                            <a href="" title="">
                                <img class="gzh-acticle-img" src="../images/001.jpg" width="120" height="80" alt=""/>
                            </a>
                            <a href="" title="">
                                <img class="gzh-acticle-img" src="../images/001.jpg" width="120" height="80" alt=""/>
                            </a>
                            <a href="" title="">
                                <img class="gzh-acticle-img" src="../images/001.jpg" width="120" height="80" alt=""/>
                            </a>
                        </div>
                    </div>
                </article>
                <article class="gl-list">
                    <h2 class="gl-list-header f16">
                        <a href="" title="晒一晒抢楼礼物~好惊喜哦~">晒一晒抢楼礼物~好惊喜哦~</a>
                    </h2>
                    <div class="gl-list-cons">
                        <div class="gl-list-text">
                            <p>一直不相信网络平台的抽奖活动,但是一直手贱去参与,就像吃饭开个人发票 求中5块钱的心理,前段时间闲来无事刷微信我去！上班忙里偷闲盖个楼 就能得黄金！
                                谁都不能阻拦我抢黄金！话不多说 没有中了奖不刺激人的道理！来人啊 放图！</p>
                        </div>
                        <div class="gl-list-thumb">
                            <a href="" title="">
                                <img class="gzh-acticle-img" src="../images/001.jpg" width="120" height="80" alt=""/>
                            </a>
                        </div>
                    </div>
                </article>
                <article class="gl-list">
                    <h2 class="gl-list-header f16">
                        <a href="" title="晒一晒抢楼礼物~好惊喜哦~">晒一晒抢楼礼物~好惊喜哦~</a>
                    </h2>
                    <div class="gl-list-cons">
                        <div class="gl-list-text">
                            <p>一直不相信网络平台的抽奖活动,但是一直手贱去参与,就像吃饭开个人发票 求中5块钱的心理,前段时间闲来无事刷微信我去！上班忙里偷闲盖个楼 就能得黄金！
                                谁都不能阻拦我抢黄金！话不多说 没有中了奖不刺激人的道理！来人啊 放图！</p>
                        </div>
                        <div class="gl-list-thumb">
                            <a href="" title="">
                                <img class="gzh-acticle-img" src="../images/001.jpg" width="120" height="80" alt=""/>
                            </a>
                        </div>
                    </div>
                </article>
                <article class="gl-list">
                    <h2 class="gl-list-header f16">
                        <a href="" title="晒一晒抢楼礼物~好惊喜哦~">晒一晒抢楼礼物~好惊喜哦~</a>
                    </h2>
                    <div class="gl-list-cons">
                        <div class="gl-list-text">
                            <p>一直不相信网络平台的抽奖活动,但是一直手贱去参与,就像吃饭开个人发票 求中5块钱的心理,前段时间闲来无事刷微信我去！上班忙里偷闲盖个楼 就能得黄金！
                                谁都不能阻拦我抢黄金！话不多说 没有中了奖不刺激人的道理！来人啊 放图！</p>
                        </div>
                        <div class="gl-list-thumb">
                            <a href="" title="">
                                <img class="gzh-acticle-img" src="../images/001.jpg" width="120" height="80" alt=""/>
                            </a>
                        </div>
                    </div>
                </article>
                <article class="gl-list">
                    <h2 class="gl-list-header f16">
                        <a href="" title="晒一晒抢楼礼物~好惊喜哦~">晒一晒抢楼礼物~好惊喜哦~</a>
                    </h2>
                    <div class="gl-list-cons">
                        <div class="gl-list-text">
                            <p>一直不相信网络平台的抽奖活动,但是一直手贱去参与,就像吃饭开个人发票 求中5块钱的心理,前段时间闲来无事刷微信我去！上班忙里偷闲盖个楼 就能得黄金！
                                谁都不能阻拦我抢黄金！话不多说 没有中了奖不刺激人的道理！来人啊 放图！</p>
                        </div>
                        <div class="gl-list-thumb">
                            <a href="" title="">
                                <img class="gzh-acticle-img" src="../images/001.jpg" width="120" height="80" alt=""/>
                            </a>
                        </div>
                    </div>
                </article>
            </section>
            <aside class="gzh-topic-item w280 fr">
                <dl class="gi-list">
                    <dt>
                        <a href="" title="结婚最关心">
                            <img src="" width="60" height="60" alt="结婚最关心" />
                        </a>
                    </dt>
                    <dd>
                        <h2 class="f16">
                            <a href="" title="结婚最关心">结婚最关心</a>
                        </h2>
                    </dd>
                    <dd class="f14 dark-gray">
                        完美婚事，美丽出嫁
                    </dd>
                </dl>
                <dl class="gi-list">
                    <dt>
                        <a href="" title="结婚最关心">
                            <img src="" width="60" height="60" alt="结婚最关心" />
                        </a>
                    </dt>
                    <dd>
                        <h2 class="f16">
                            <a href="" title="结婚最关心">结婚最关心</a>
                        </h2>
                    </dd>
                    <dd class="f14 dark-gray">
                        完美婚事，美丽出嫁
                    </dd>
                </dl>
            </aside>
        </div>
    </div>
</body>
</html>