<div class="gzh-login-footer">
    <p >上海杜美投资管理中心 版权所有@沪ICP备14046404号<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1255477685'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1255477685%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></p>
</div>

<a href="javascript:void(0)" onclick="$('body,html').animate({scrollTop:0},1000)" class="back-to-top" style="display: none;">
    <i class="iconfont gzh-up"></i>回到顶部
</a>
<script src="/static/skin/js/plugins/lazyLoad/jquery.lazyload.min.js"></script>
<script src="/static/skin/js/plugins/bootstrap/bootstrap.min.js"></script>
<!--<script type="text/javascript" charset="utf-8" src="/static/skin/js/jquery.cxscroll.min.js"></script>-->
<script src="/static/skin/js/plugins/dropdown.js"></script>
<script src="/static/skin/js/common.js"></script>
<script src="/static/skin/js/gzh_reg.js"></script>
<script src="/static/skin/js/gzh_login.js"></script>
<script>
	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>
<!--<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["tsina","tieba","qzone","weixin","renren","tqf","douban","sqq","meilishuo","mogujie"],"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>-->
