<ion-header-bar class="bar-positive bar bar-header disable-user-behavior" align-title="center">
	<button ng-click="$ionicGoBack($event)" class="button back-button buttons  button-clear header-item">
	<i class="icon ion-ios-arrow-back"></i>
	<span class="back-text">
		<span class="default-title hide">我的相册</span>
	</span>
	</button>
	<div class="title title-center header-item">照片分享</div>
	<button class="button button-clear header-item pull-right" ng-click="onSave(share)" ng-disabled="has_dsiabled">保存</button>
</ion-header-bar>
<ion-view view-title="分享照片">
  <ion-content>
	<div class="list">
	  <label class="item item-input">
	 	<span class="input-label">标题</span>
	    <input type="text" ng-model="share.title" placeholder=""  />
	  </label>
	  <label class="item item-input">
	    <span class="input-label">描述</span>
	    <textarea cols="6" rows="6" ng-model="share.description" placeholder=""></textarea>
	  </label>
	  <label class="item item-input item-select">
	    <span class="input-label">背景音乐</span>
		 <select ng-model="list_music" ng-options="item.music_name for item in list"></select>
	  </label>
	</div>
  </ion-content>
</ion-view>
