
<div class="clearfix row-main">
    <?py include('ops/message/nav.html') ?>

    <div class="col-md-10">
        <div class="panel">
            <div class="panel-heading">
                <strong>快捷操作</strong>
            </div>

            <table class="table table-hover table-striped table-bordered">
                <thead>
                <tr class="text-center">
                    <th>操作列表</th>
                </tr>

                </thead>

                <tbody id="house_type_list">
                    <tr>
                        <td><a href="/ops/message/send/">发送唯一导入数据短信</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<?py include('ops/common/dialog.html') ?>
