<!DOCTYPE html>
<html class="screen-desktop-wide device-desktop m-admin m-admin-index">
<head profile="http://www.w3.org/2005/10/profile">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-transform">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>公主号后台管理系统</title>
<link rel="stylesheet" href="/static/ops/css/all.admin.css" type="text/css" media="screen">
<script src="/static/ops/js/all.admin.js" type="text/javascript"></script>
<script src="/static/ops/js/common.js" type="text/javascript"></script>
<!--[if lt IE 9]>
    <script src='/static/ops/js/all.ie8.js' type='text/javascript'></script>
<![endif]-->
<!--[if lt IE 10]>
    <script src='/static/ops/js/all.ie9.js' type='text/javascript'></script>
<![endif]-->

</head>

<body>

    <?py include('ops/navigation.html') ?>

    #{_content}

    <?py include('ops/footer.html') ?>

</body>
</html>