<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>商家列表</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!--
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        -->
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <article>
            <ul><!-- 列表 Start -->
                <li><a href="">套系列表</a></li>
                <li><a href="">商家列表</a></li>
                <li><a href="">作品列表</a></li>
            </ul><!-- 列表 End -->

            <dl><!--风格 Start -->
                <dt>风格</dt>
                <dd>全部</dd>
                <dd>中式</dd>
                <dd>韩式</dd>
                <dd>欧式</dd>
                <dd>个性</dd>
                <dd>自拍</dd>
            </dl><!--风格 End-->

            <dl><!--价格 Start -->
                <dt>价格</dt>
                <dd>全部</dd>
                <dd>4999以下</dd>
                <dd>5000-8999</dd>
                <dd>9000-12999</dd>
                <dd>13000以上</dd>
            </dl><!--价格 End-->

            <dl><!--区域 Start -->
                <dt>区域</dt>
                <dd>全部</dd>
                <dd>浦东新区</dd>
                <dd>长宁区</dd>
                <dd>宝山区</dd>
                <dd>松江区</dd>
            </dl><!--区域 End-->
            
            <!-- 排序栏 Start-->
            <div class="sortbar">
                <div class="sort-row">
                    <div class="sort-inner">
                        <dl class="sorts">
                            <dt><a href="#">默认排序</a></dt>
                            <dd><a href="#">评价</a></dd>
                        </dl>
                        <div class="find-results">
                            为您找到<span>160</span>个商家
                        </div>
                    </div>
                </div>
            </div>
            <!-- 排序栏 End-->
            
            <!-- 商家列表 Start -->
            <div class="list">
                <div class="items">
                    <div class="item">
                        <div class="col">
                            <a href="#"><img src="" alt="" /></a>
                        </div>
                        <div class="col">
                            <p class="title">
                                <a href="#">唯一视觉婚纱摄影</a>
                                <span class="label">惠</span>
                                <span class="label">返</span>
                            </p>
                            <div class="price">￥4399~58888</div>
                            <ul class="feature">
                                <li>中式</li>
                                <li>欧式</li>
                                <li>个性</li>
                            </ul>
                            <p><span>优惠：</span>韩风送香&凉意我心</p>
                            <p><span>到店礼：</span>咖啡壶一个</p>
                        </div>
                        <div class="col">
                            <ul class="rating">
                                <li class="star"></li>
                                <li class="star"></li>
                                <li class="star"></li>
                                <li class="star"></li>
                                <li class="star"></li>
                            </ul>
                            <p>
                                <a href="">套系<span>16</span></a>
                                <a href="">作品<span>160</span></a>
                            </p>
                            <p>区域：浦东新区</p>
                            <div>
                                <a class="collect" href="">收藏</a>
                                <a class="share" href="">分享</a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="col">
                            <a href="#"><img src="" alt="" /></a>
                        </div>
                        <div class="col">
                            <p class="title">
                                <a href="#">唯一视觉婚纱摄影</a>
                                <span class="label">惠</span>
                                <span class="label">返</span>
                            </p>
                            <div class="price">￥4399~58888</div>
                            <ul class="feature">
                                <li>中式</li>
                                <li>欧式</li>
                                <li>个性</li>
                            </ul>
                            <p><span>优惠：</span>韩风送香&凉意我心</p>
                            <p><span>到店礼：</span>咖啡壶一个</p>
                        </div>
                        <div class="col">
                            <ul class="rating">
                                <li class="star"></li>
                                <li class="star"></li>
                                <li class="star"></li>
                                <li class="star"></li>
                                <li class="star"></li>
                            </ul>
                            <p>
                                <a href="">套系<span>16</span></a>
                                <a href="">作品<span>160</span></a>
                            </p>
                            <p>区域：浦东新区</p>
                            <div>
                                <a class="collect" href="">收藏</a>
                                <a class="share" href="">分享</a>
                            </div>
                        </div>
                    </div>  

                    <div class="item">
                        <div class="col">
                            <a href="#"><img src="" alt="" /></a>
                        </div>
                        <div class="col">
                            <p class="title">
                                <a href="#">唯一视觉婚纱摄影</a>
                                <span class="label">惠</span>
                                <span class="label">返</span>
                            </p>
                            <div class="price">￥4399~58888</div>
                            <ul class="feature">
                                <li>中式</li>
                                <li>欧式</li>
                                <li>个性</li>
                            </ul>
                            <p><span>优惠：</span>韩风送香&凉意我心</p>
                            <p><span>到店礼：</span>咖啡壶一个</p>
                        </div>
                        <div class="col">
                            <ul class="rating">
                                <li class="star"></li>
                                <li class="star"></li>
                                <li class="star"></li>
                                <li class="star"></li>
                                <li class="star"></li>
                            </ul>
                            <p>
                                <a href="">套系<span>16</span></a>
                                <a href="">作品<span>160</span></a>
                            </p>
                            <p>区域：浦东新区</p>
                            <div>
                                <a class="collect" href="">收藏</a>
                                <a class="share" href="">分享</a>
                            </div>
                        </div>
                    </div>                            
                </div>            
            </div>      
            <!-- 商家列表 End -->

            <!-- 分页 Start -->
            <div class="pagination-centered">
              <ul class="pagination">
                <li class="arrow"><a href="">&laquo;</a></li>
                <li class="current"><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li class=""><a href="">&hellip;</a></li>
                <li><a href="">12</a></li>
                <li><a href="">13</a></li>
                <li class="arrow"><a href="">&raquo;</a></li>
              </ul>
            </div>
            <!-- 分页 End  -->
        </article>
        <aside>
            <div class=""></div>
            <div class="panel">
                <div class="panel-header">精品推荐</div>
                <ul>
                    <li>
                        <div class="thumbnail" >
                            <h4 class="text-center"><span class="label label-info">Samsung</span></h4>
                            <img src="http://placehold.it/650x450&text=Galaxy S5" class="img-responsive">
                            <div class="caption">
                                <a href="">全新系列</a>
                                <span>￥5200</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumbnail" >
                            <h4 class="text-center"><span class="label label-info">Samsung</span></h4>
                            <img src="http://placehold.it/650x450&text=Galaxy S5" class="img-responsive">
                            <div class="caption">
                                <a href="">全新系列</a>
                                <span>￥5200</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumbnail" >
                            <h4 class="text-center"><span class="label label-info">Samsung</span></h4>
                            <img src="http://placehold.it/650x450&text=Galaxy S5" class="img-responsive">
                            <div class="caption">
                                <a href="">全新系列</a>
                                <span>￥5200</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>

        <footer>
            <p >上海杜美投资管理中心 版权所有@沪ICP备14046404号</p>
        </footer>
        <!--
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        -->
    </body>
</html>
