<?py from services.users.role_services import * ?>
<div class="clearfix row-main">
    <?py include('ops/users/user_menu.html') ?>
    <div class="col-md-10">
        <div class="panel">
            <div class="panel-heading">
                <strong><i class="icon-group"></i>会员列表</strong>
                 <div class="panel-actions">
                     <a href="/admin/users/new" class="btn btn-primary"><i class="icon-plus"></i> 添加用户</a>
                    </div>
            </div>

            <!--chosen  选择组件-->
            <link rel="stylesheet" href="/static/ops/css/min.css" type="text/css" media="screen">
            <script src="/static/ops/js/min.js" type="text/javascript"></script>

             <link rel="stylesheet" href="/static/ops/datetime/bootstrap-datetimepicker.min.css" type="text/css" media="screen">
             <script src="/static/ops/datetime/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
             <script>
                     $(document).ready(function(){
                        $(".chosen-select").chosen({allow_single_deselect:true});
                        //startDate = new Date();
                        //startDate:startDate,

                        $('.search_date').datepicker({
                        format: 'yyyy-mm-dd'
                        });

                     });
             </script>
            <form id="user_search_form" action="" method="get">
                <table class="table table-form">
                    <tbody>
                        <tr>
                            <th>注册时间</th>
                            <td>
                                <div class="input-append date">
                                    <input type="text" class="form-control search_date" value="" id="start_date" name="start_date">
                                     <span class="add-on"><button type="button" class="btn btn-default"><i
                                class="icon-calendar"></i></button></span>
                                </div>
                            </td>
                            <td>
                                <div class="input-append date"><input type="text" class="form-control search_date" value="" name="end_date" id="end_date">
                                    <span class="add-on"><button type="button" class="btn btn-default"><i
                                    class="icon-calendar"></i></button></span>
                                </div>
                            </td>

                            <th>状态</th>
                            <td>
                                <select class="form-control chosen-select" name="status">
                                   <option value=""></option>
                                </select>
                            </td>
                            <th>角色</th>
                            <td>
                               <select class="form-control chosen-select" name="role" name="role">
                                    <option value=""></option>
                               </select>
                            </td>
                            </tr>

                            <tr>
                            <th>名称</th>
                            <td colspan="2">
                                <div class="input-group">
                                    <input type="text" class="form-control" value="" id="search_text" name="search_text">
                                </div>
                            </td>
                            <th></th>
                            <td colspan="2">
                            </td>

                            <td><input type="submit" data-loading="稍候..." value="搜索" class="btn btn-primary"
                                                   id="house_type_submit">
                             </td>
                        </tr>
                    </tbody>
                </table>
            </form>

            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr class="text-center">
                        <th><input type="checkbox" name="user_ids" value="all"></th>
                        <th>编号</th>
                        <th>昵称</th>
                        <th>用户名</th>
                        <!--
                        <th>来源</th>
                        <th>性别</th>
                        -->
                        <th>角色</th>
                        <th>注册日期</th>
                        <!--
                        <th>状态</th>
                        -->
                        <th>操作</th>
                    </tr>
                </thead>

                <tbody>
                <?py if page_data: ?>
                <?py for u in page_data.result: ?>
                <tr class="text-center" id="${u.Fid}">
                    <td><input type="checkbox" name="user_id" value="${u.Fid}" ></td>
                    <td>${u.Fid}</td>
                    <td>${u.Fnick_name}</td>
                    <td>${u.Fuser_name}</td>
                    <td>${RoleServices.role_format(handler.db,u.Frole_codes)}</td>
                    <td>${u.Fcreate_time}</td>
                    <td>
                        <a href="">修改</a>
                        <a href="">删除</a>
                    </td>

                </tr>
         <?py #endfor ?>
         <?py #endif ?>
                </tbody>
                   #{page_html}
            </table>
        </div>
    </div>
</div>