<div class="col-md-2">
    <div class="leftmenu affix hiddden-xs hidden-sm">
        <ul class="nav-left nav nav-primary nav-stacked">
            <li id="user_menu_list"><a href="/gzh/ops/users/list/">全部会员<i class="icon-chevron-right"></i></a>
            <li id="user_menu_new_register"><a href="/gzh/ops/users/list/3">最新注册<i class="icon-chevron-right"></i></a>
            </li>
            </li>
            <li id="user_menu_blist"><a href="/gzh/ops/merchant/list/1">商户<i class="icon-chevron-right"></i></a>
            </li>
             <li id="user_menu_employee"><a href="/gzh/ops/users/list/2">员工<i class="icon-chevron-right"></i></a>
            </li>
            <li id="user_menu_new"><a href="/gzh/ops/users/new">新增<i class="icon-chevron-right"></i></a>
            </li>
            <li id="role_menu_list"><a href="/gzh/ops/roles/">角色<i class="icon-chevron-right"></i></a>
            </li>
            <li id="permission_menu_list"><a href="/gzh/ops/permissions/">商户权限<i class="icon-chevron-right"></i></a>
            </li>
        </ul>
    </div>
</div>