<link rel="stylesheet" href="/static/skin/css/merchant.css"/>
<link rel="stylesheet" href="/static/skin/css/share.css"/>
<div class="gzh-container bg-white ">
    <div class="main w1200 container">
        <div class="gzhshare row clear">
            <div class="gzh-share-item col-xs-6 col-md-3">
                <a href="" class="img-link gzh-share-img" target="_blank" title="">
                    <img data-lazyload="" class="gzh-lazy img-hover" width="285" height="210" alt=""/>
                    <span class="img-cover"></span>
                </a>
                <div class="gzh-share-avatar">
                    <span class="ga-fav fr text-gray">
                        <i class="iconfont gzh-like_line"></i>36
                    </span>
                    <img class="ga-avatar" src="http://img.gongzhuhao.com/3/head_photo/001857001824brh3UIMG_0248.JPG" width="24" height="24" />
                    <span class="gz-name f16">陌上路人</span>
                </div>
                <p class="gzh-share-merchant text-gray">
                    服务商：<a href="" class="text-gray" target="_blank" title="唯一视觉婚纱摄影唯一视觉婚纱摄影唯一视觉婚纱摄影">唯一视觉婚纱摄影唯一视觉婚纱摄影唯一视觉婚纱摄影</a>
                </p>
            </div>
            <div class="gzh-share-item col-xs-6 col-md-3">
                <a href="" class="img-link gzh-share-img" target="_blank" title="">
                    <img data-lazyload="" class="gzh-lazy img-hover" width="285" height="210" alt=""/>
                    <span class="img-cover"></span>
                </a>
                <div class="gzh-share-avatar">
                    <span class="ga-fav fr text-gray">
                        <i class="iconfont gzh-like_line"></i>36
                    </span>
                    <img class="ga-avatar" src="http://img.gongzhuhao.com/3/head_photo/001857001824brh3UIMG_0248.JPG" width="24" height="24" />
                    <span class="gz-name f16">陌上路人</span>
                </div>
                <p class="gzh-share-merchant text-gray">
                    服务商：<a href="" class="text-gray" target="_blank" title="唯一视觉婚纱摄影唯一视觉婚纱摄影唯一视觉婚纱摄影">唯一视觉婚纱摄影唯一视觉婚纱摄影唯一视觉婚纱摄影</a>
                </p>
            </div>
            <div class="gzh-share-item col-xs-6 col-md-3">
                <a href="" class="img-link gzh-share-img" target="_blank" title="">
                    <img data-lazyload="" class="gzh-lazy img-hover" width="285" height="210" alt=""/>
                    <span class="img-cover"></span>
                </a>
                <div class="gzh-share-avatar">
                    <span class="ga-fav fr text-gray">
                        <i class="iconfont gzh-like_line"></i>36
                    </span>
                    <img class="ga-avatar" src="http://img.gongzhuhao.com/3/head_photo/001857001824brh3UIMG_0248.JPG" width="24" height="24" />
                    <span class="gz-name f16">陌上路人</span>
                </div>
                <p class="gzh-share-merchant text-gray">
                    服务商：<a href="" class="text-gray" target="_blank" title="唯一视觉婚纱摄影唯一视觉婚纱摄影唯一视觉婚纱摄影">唯一视觉婚纱摄影唯一视觉婚纱摄影唯一视觉婚纱摄影</a>
                </p>
            </div>
            <div class="gzh-share-item col-xs-6 col-md-3">
                <a href="" class="img-link gzh-share-img" target="_blank" title="">
                    <img data-lazyload="" class="gzh-lazy img-hover" width="285" height="210" alt=""/>
                    <span class="img-cover"></span>
                </a>
                <div class="gzh-share-avatar">
                    <span class="ga-fav fr text-gray">
                        <i class="iconfont gzh-like_line"></i>36
                    </span>
                    <img class="ga-avatar" src="http://img.gongzhuhao.com/3/head_photo/001857001824brh3UIMG_0248.JPG" width="24" height="24" />
                    <span class="gz-name f16">陌上路人</span>
                </div>
                <p class="gzh-share-merchant text-gray">
                    服务商：<a href="" class="text-gray" target="_blank" title="唯一视觉婚纱摄影唯一视觉婚纱摄影唯一视觉婚纱摄影">唯一视觉婚纱摄影唯一视觉婚纱摄影唯一视觉婚纱摄影</a>
                </p>
            </div>
            <div class="gzh-share-item col-xs-6 col-md-3">
                <a href="" class="img-link gzh-share-img" target="_blank" title="">
                    <img data-lazyload="" class="gzh-lazy img-hover" width="285" height="210" alt=""/>
                    <span class="img-cover"></span>
                </a>
                <div class="gzh-share-avatar">
                    <span class="ga-fav fr text-gray">
                        <i class="iconfont gzh-like_line"></i>36
                    </span>
                    <img class="ga-avatar" src="http://img.gongzhuhao.com/3/head_photo/001857001824brh3UIMG_0248.JPG" width="24" height="24" />
                    <span class="gz-name f16">陌上路人</span>
                </div>
                <p class="gzh-share-merchant text-gray">
                    服务商：<a href="" class="text-gray" target="_blank" title="唯一视觉婚纱摄影唯一视觉婚纱摄影唯一视觉婚纱摄影">唯一视觉婚纱摄影唯一视觉婚纱摄影唯一视觉婚纱摄影</a>
                </p>
            </div>
        </div>
        <div class="gzh-page">
            <ul class="gzh-pagination gzh-pagination--center">
                #{page_html}
            </ul>
        </div>
    </div>
</div>