<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="col-md-2">
    <div class="leftmenu affix hiddden-xs hidden-sm">
        <ul class="nav-left nav nav-primary nav-stacked">
            <li id="all_series_show">
                <a href="/gzh/ops/series/" >
                    所有套系
                </a>
            </li>
            <li id="delete_series_show">
                <a href="/gzh/ops/series/1" >
                    已删除套系
                </a>
            </li>
            <li id="recommend_series">
                <a href="/gzh/ops/recommends/1" >
                    首页推荐套系
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>