<div class="gzh-side-pro">
    <p class="gs-title">
        <span class="f16 text-red">精品推荐</span>
    </p>
    <?py if recommend_series:?>
        <?py for s in recommend_series:?>
            <div class="gs-item">
                <a href="/series/${s.Fid}" class="img-link">
                    <img data-lazyload="${s.Fcover_img}" class="gzh-lazy img-hover" width="190" height="118" />
                    <span class="img-cover"></span>
                </a>
                <h2 class="f14"><a href="">${s.Fpackage_name}</a></h2>
                <p class="gm-price text-red f20">
                    <i class="price">¥</i>${s.Fsale_price}
                </p>
            </div>
        <?py #endfor ?>
    <?py #endif ?>
</div>