<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="col-md-2">
    <div class="leftmenu affix hiddden-xs hidden-sm">
        <ul class="nav-left nav nav-primary nav-stacked">
            <li id="music_list">
                <a href="/gzh/ops/music/list/" >
                    所有音乐
                </a>
            </li>
            <li id="upload_music">
                <a href="/gzh/ops/upload/music/">
                    上传音乐
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>