<style>
    .schedule-type{ width: 7%; }
    .schedule-time{ width: 10%;}
    .schedule-notice{ width: 8%;}
    .schedule-add{ width: 20%;}
    .schedule-name{ width: 7%;}
    .schedule-title{ width: 8%;}
    .schedule-tips{ width: 40%;}
    .table tbody .schedule-tips{ text-align: left}
</style>
<div class="clearfix row-main">

    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <strong><i class="icon-group"></i>排期列表</strong>
            </div>
            <!--chosen  选择组件-->
            <link rel="stylesheet" href="/static/ops/css/min.css" type="text/css" media="screen">
            <script src="/static/ops/js/min.js" type="text/javascript"></script>

            <link rel="stylesheet" href="/static/ops/datetime/bootstrap-datetimepicker.min.css" type="text/css" media="screen">
            <script src="/static/ops/datetime/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
            <script>
                $(document).ready(function(){
                    $(".chosen-select").chosen({allow_single_deselect:true});
                    //startDate = new Date();
                    //startDate:startDate,
                    $('.search_date').datepicker({
                        format: 'yyyy-mm-dd'
                    });

                });
            </script>

            <!--
            <form id="product_search_form" action="" method="get">
                <table class="table table-bordered table-striped">
                  <tbody>
                    <tr>
                        <th>订单类型</th>
                        <td>
                            <div class="input-append date">
                                <select class="form-control chosen-select" name="order_type" id="order_type" style="width:110px">
                                <option></option>
                                <option value="0">其他</option>
                                <option value="1">婚纱</option>
                                <option value="2">写真</option>
                                <option value="3">孕妇</option>
                                <option value="4">亲子</option>
                                </select>
                            </div>
                        </td>
                        <th>订单状态</th>
                        <td>
                            <div class="input-append date">
                                <select class="form-control chosen-select" name="order_status" id="order_status" style="width:150px">
                                <option></option>
                                <option value="0">初始状态</option>
                                <option value="1">已通知试衣</option>
                                <option value="2">已通知摄影</option>
                                <option value="3">已通知选样</option>
                                <option value="4">已通知定稿</option>
                                <option value="5">已通知取件</option>
                                </select>
                            </div>
                        </td>
                        <th>商户</th>
                        <td colspan="2">
                            <div class="input-group">
                                <input type="text" class="form-control" value="" id="merchant_name" name="merchant_name">
                            </div>
                        </td>
                        <th>客户姓名</th>
                        <td colspan="2">
                            <div class="input-group">
                                <input type="text" class="form-control" value="" id="user_name" name="user_name">
                            </div>
                        </td>
                        <td>
                            <input type="submit" data-loading="稍候..." value="搜索" class="btn btn-primary" id="house_type_submit">
                        </td>
                    </tr>
                  </tbody>
                </table>
                #{xsrf_form_html}
            </form>
            -->
            <table class="table table-hover table-striped table-bordered">
                  <thead>
                    <tr class="text-center">
                        <th class="schedule-type">排期类型</th>
                        <th class="schedule-time">排期时间</th>
                        <th class="schedule-notice">通知用户次数</th>
                        <th class="schedule-add">服务地点</th>
                        <th class="schedule-name">员工姓名</th>
                        <th class="schedule-title">员工职称</th>
                        <th class="schedule-tips">温馨提示</th>
                    </tr>
                  </thead>
                  <tbody>
                      <?py for schedule in page_data: ?>
                          <tr class="text-center" id="${schedule.Fid}">
                              <td class="schedule-type">${schedules_type[schedule.Fid]}</td>
                              <td class="schedule-time">${schedule.Fdatetime}</td>
                              <td class="schedule-notice">${schedule.Fnotified_num}</td>
                              <td class="schedule-add">${schedule.Fsite}</td>
                              <td class="schedule-name">${schedule.Fname_stf}</td>
                              <td class="schedule-title">${schedule.Ftitle_stf}</td>
                              <td class="schedule-tips">${schedule.Freminder}</td>
                            </tr>
                      <?py #endfor ?>
                  </tbody>
                <tbody>
                    <tfoot>

                    </tfoot>
            </table>
        </div>
    </div>
</div>
<?py include('ops/common/dialog.html') ?> <!--引入弹出框组件-->
<script language="Javascript" type="text/javascript">
    window.onload = function(){
        $('#user_order_nav').addClass('active');

    }
</script>

