<div class="col-md-2">
    <div class="leftmenu affix hiddden-xs hidden-sm">
        <ul class="nav-left nav nav-primary nav-stacked">

            <li id="admin_logs"><a href="/admin/system/logs/list.html">行为日志<i class="icon-chevron-right"></i></a>
            </li>

            <li id="system_apps"><a href="/admin/system/apps/list.html">APPS<i class="icon-chevron-right"></i></a>
            </li>

            <li id="system_upload_apps"><a href="/admin/system/apps/upload.html">上传发布包<i class="icon-chevron-right"></i></a>
            </li>


            <li id="binaery_img"><a href="/admin/tools/binary_img">二维码生成工具<i class="icon-chevron-right"></i></a>
            </li>

             <!--<li id="img_write_logo"><a href="/admin/system/img/write_logo">水印工具<i class="icon-chevron-right"></i></a>-->
            </li>
        </ul>
    </div>
</div>