<?py for work in works.result: ?>
  <div class="list card work-item">
    <div class="item item-image">
      <a href="/api/mobile/work/${work.Fid}"><img src="${work.Fcover_img}"></a>
    </div>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">${work.Fname}</h4>
        <?py company = handler.get_company(work.Fmerchant_id) ?>
        <?py if company: ?>
          <p>${company.Fcompany_name}</p>
        <?py else: ?>
          <p></p>
        <?py #endif ?>
      </div>
      <div class="media-right">
        <a href="/api/mobile/work/${work.Fid}">
          <i class="iconfont gzh-like"></i>
        </a>
      </div>
    </div>
  </div>
<?py #endfor ?>
