			<?py include('view/account/_header.html') ?>
                    <div class="col-lg-9 col-md-9">
						<div class="gzh-well clearfix">
							<h4 class="h4 pull-left ng-scope">我的收藏</h4>
							<ul class="pull-left nav-profile">
								<li><a href="index.html">商家</a></li>
								<li><a href="series.html" class="current">套系</a></li>
								<li><a href="works.html">作品</a></li>
							</ul>
						</div>
						<div class="gzh-profile" style="margin-top: 0; padding-left: 20px;">
							<div class="gzh-view">
                                <article class="gzh-article gzh-list clear">
                                   <dl class="gzh-fav">
                                       <dt class="fl">
                                           <img src="" width="180" height="112" />
                                       </dt>
                                       <dd class="gf-title">
                                           <h2 class="f18">
                                               <a href="" class="btn btn-order fr">预约看店</a>
                                                <a href="">唯一视觉婚纱摄影</a>
                                           </h2>
                                       </dd>
                                       <dd class="gf-desc">
                                           <span class="f22 text-red">
                                               <i>¥</i>43000
                                           </span>
                                           <span class="f14 text-gray">
                                               <i>¥</i>43000
                                           </span>
                                       </dd>
                                       <dd class="gf-area dark-gray">
                                           <a class="fr text-gray">取消收藏</a>
                                           <span>来自：韩国星印象婚纱摄影（闸北店）</span>
                                       </dd>
                                   </dl>
                                </article>
                            </div>
						</div>
					</div>
				</div>
			</section>

			<?py include('view/account/_footer.html') ?>
			<script>
				$(function(){
					$('#user_order').addClass('current');
				})
			</script>