/* ==========================================================================
   Component: Block Grid
 ============================================================================ */
[class*="gzh-block-grid"] {
  display: block;
  padding-top: 12px;
  margin: 0 -10px;
  list-style: none;
}
[class*="gzh-block-grid"]:before,
[class*="gzh-block-grid"]:after {
  content: " ";
  display: table;
}
[class*="gzh-block-grid"]:after {
  clear: both;
}
[class*="gzh-block-grid"] > li {
  display: block;
  height: auto;
  float: left;
  padding: 8px 10px;
}
.gzh-block-grid-1 > li {
  width: 100%;
}
.gzh-block-grid-1 > li:nth-of-type(n) {
  clear: none;
}
.gzh-block-grid-1 > li:nth-of-type(1n + 1) {
  clear: both;
}
.gzh-block-grid-2 > li {
  width: 50%;
}
.gzh-block-grid-2 > li:nth-of-type(n) {
  clear: none;
}
.gzh-block-grid-2 > li:nth-of-type(2n + 1) {
  clear: both;
}
.gzh-block-grid-3 > li {
  width: 33.33333333%;
}
.gzh-block-grid-3 > li:nth-of-type(n) {
  clear: none;
}
.gzh-block-grid-3 > li:nth-of-type(3n + 1) {
  clear: both;
}
.gzh-block-grid-4 > li {
  width: 25%;
}
.gzh-block-grid-4 > li:nth-of-type(n) {
  clear: none;
}
.gzh-block-grid-4 > li:nth-of-type(4n + 1) {
  clear: both;
}
.gzh-block-grid-5 > li {
  width: 20%;
}
.gzh-block-grid-5 > li:nth-of-type(n) {
  clear: none;
}
.gzh-block-grid-5 > li:nth-of-type(5n + 1) {
  clear: both;
}
.gzh-block-grid-6 > li {
  width: 16.66666667%;
}
.gzh-block-grid-6 > li:nth-of-type(n) {
  clear: none;
}
.gzh-block-grid-6 > li:nth-of-type(6n + 1) {
  clear: both;
}
.gzh-block-grid-7 > li {
  width: 14.28571429%;
}
.gzh-block-grid-7 > li:nth-of-type(n) {
  clear: none;
}
.gzh-block-grid-7 > li:nth-of-type(7n + 1) {
  clear: both;
}
.gzh-block-grid-8 > li {
  width: 12.5%;
}
.gzh-block-grid-8 > li:nth-of-type(n) {
  clear: none;
}
.gzh-block-grid-8 > li:nth-of-type(8n + 1) {
  clear: both;
}
.gzh-block-grid-9 > li {
  width: 11.11111111%;
}
.gzh-block-grid-9 > li:nth-of-type(n) {
  clear: none;
}
.gzh-block-grid-9 > li:nth-of-type(9n + 1) {
  clear: both;
}
.gzh-block-grid-10 > li {
  width: 10%;
}
.gzh-block-grid-10 > li:nth-of-type(n) {
  clear: none;
}
.gzh-block-grid-10 > li:nth-of-type(10n + 1) {
  clear: both;
}
.gzh-block-grid-11 > li {
  width: 9.09090909%;
}
.gzh-block-grid-11 > li:nth-of-type(n) {
  clear: none;
}
.gzh-block-grid-11 > li:nth-of-type(11n + 1) {
  clear: both;
}
.gzh-block-grid-12 > li {
  width: 8.33333333%;
}
.gzh-block-grid-12 > li:nth-of-type(n) {
  clear: none;
}
.gzh-block-grid-12 > li:nth-of-type(12n + 1) {
  clear: both;
}
/*
@media (min-width: @breakpoint-small) when(@debug) {
  .media-block-grid(sm);
}

@media (min-width: @breakpoint-medium) when(@debug){
  .media-block-grid(md);
}

@media (min-width: @breakpoint-large) when(@debug){
  .media-block-grid(lg);
}

@media (min-width: @breakpoint-xlarge) when(@debug){
  .media-block-grid(xl);
}
*/
/* ========================================================================
   Component: Pagination
 ========================================================================== */
/*
 * 1. Remove default list style
 * 2. Center pagination by default
 * 3. Remove whitespace between child elements when using `inline-block`
 */
.gzh-pagination {
  /* 1 */
  padding: 0;
  list-style: none;
  /* 2 */
  text-align: center;
  /* 3 */
  margin-top: 48px;
}
/*
 * Micro clearfix
 * Needed if `uk-pagination-previous` or `uk-pagination-next` sub-objects are used
 */
.gzh-pagination:before,
.gzh-pagination:after {
  content: "";
  display: table;
}
.gzh-pagination:after {
  clear: both;
}
/* Items
 ========================================================================== */
/*
 * 1. Reset whitespace hack
 * 2. Remove the gap at the bottom of it container
 */
.gzh-pagination > li {
  display: inline-block;
  /* 1 */
  font-size: 0.875em;
  /* 2 */
  vertical-align: top;
}
.gzh-pagination > li:nth-child(n+2) {
  margin-left: 10px;
}
/*
 * 1. Makes pagination more robust against different box-sizing use
 * 2. Reset text-align to center if alignment modifier is used
 */
.gzh-pagination > li > a,
.gzh-pagination > li > span {
  display: inline-block;
  min-width: -8.6em;
  padding: 10px 15px;
  line-height: 1.4em;
  text-decoration: none;
  border: 1px solid #dddddd;
  /* 1 */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  text-align: center;
}
/*
 * Links
 */
.gzh-pagination > li > a {
  background: #ffffff;
  color: #333333;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */
.gzh-pagination > li > a:hover,
.gzh-pagination > li > a:focus {
  background-color: #ff6577;
  color: #ffffff;
  border: 1px solid transparent;
  /* 2 */
  outline: none;
}
/* OnClick */
.gzh-pagination > li > a:active {
  background-color: #dddddd;
  color: #333333;
  border: 1px solid transparent;
}
/*
 * Active
 */
.gzh-pagination > .gzh-active > span {
  background: #ff6577;
  color: #ffffff;
  border: 1px solid transparent;
}
/*
 * Disabled
 */
.gzh-pagination > .gzh-disabled > span {
  background-color: #ffffff;
  border: 1px solid transparent;
  color: #333333;
}
/* Previous and next navigation
 ========================================================================== */
.gzh-pagination-previous {
  float: left;
}
.gzh-pagination-next {
  float: right;
}
/* Alignment modifiers
 ========================================================================== */
.gzh-pagination--left {
  text-align: left;
}
.gzh-pagination--right {
  text-align: right;
}
.gzh-pagination--center {
  text-align: center;
}
/* ========================================================================
   Component: List
 ========================================================================== */
.gzh-list {
  padding: 0;
  margin: 6px 0px;
  color: #333;
}
.gzh-list:before,
.gzh-list:after {
  content: " ";
  display: table;
}
.gzh-list:after {
  clear: both;
}
.gzh-list > .gzh-list-left {
  font-size: 0.875em;
  margin-right: 20px;
}
.gzh-list > gzh-list-right {
  font-size: 0.75em;
  margin-left: 20px;
  margin-right: 20px;
}
.gzh-list > li:not(.gzh-active):hover {
  background-color: #fff9fa;
}
.gzh-list > .gzh-list-right {
  max-width: 800px;
  overflow: auto;
  padding-top: 3px;
  font-size: 0.75em;
}
.gzh-list > .gzh-list-center {
  padding-top: 3px;
  font-size: 0.75em;
}
.gzh-list > .gzh-list-left,
.gzh-list > .gzh-list-center,
.gzh-list > .gzh-list-right > li {
  float: left;
  display: inline;
  margin: 6px 40px 6px 0px;
}
.gzh-list > .gzh-list-center a,
.gzh-list > .gzh-list-right > li a {
  color: #333;
  padding: 4px 8px;
  text-decoration: none;
}
.gzh-list > .gzh-list-right > li a:hover {
  background-color: #fff9fa;
}
.gzh-list > .gzh-list-left > i {
  color: #ff6577;
}
.gzh-list > .gzh-list-right .gzh-price-filter {
  padding: 0px;
  margin-top: 0px;
  margin-left: 30px;
}
.gzh-list .gzh-price-filter input {
  width: 52px;
  height: 24px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.gzh-list .gzh-price-filter input[type=submit] {
  border: 1px solid #ddd;
  background-color: #fafafa;
  color: #333;
  font-size: 12px;
  margin-left: 10px;
}
.gzh-list .gzh-active span {
  color: #fff;
  padding: 4px 8px;
  background-color: #ffb0b9;
  border-radius: 2px;
}
.gzh-list--list1 {
  margin-top: 30px;
}
.gzh-list--list2 {
  margin-bottom: 20px;
}
/* ========================================================================
   Component: Tab组件
 ========================================================================== */
.gzh-tab {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #dddddd;
}
/*
 * Micro clearfix on the deepest container
 */
.gzh-tab:before,
.gzh-tab:after {
  content: "";
  display: table;
}
.gzh-tab:after {
  clear: both;
}
/*
 * Items
 * 1. Create position context for dropdowns
 */
.gzh-tab > li {
  margin-bottom: -1px;
  float: left;
  /* 1 */
  position: relative;
}
.gzh-tab > li > a {
  display: block;
  padding: 8px 27px 8px 27px;
  border: 1px solid #dddddd;
  border-bottom-width: 0;
  color: #333333;
  text-decoration: none;
}
.gzh-tab > li > a{
    background:#fafafa;
  }
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Also apply if dropdown is opened
 * 3. Remove default focus style
 */
.gzh-tab > li > a:hover,
.gzh-tab > li > a:focus,
.gzh-tab > li.gzh-open > a {
  background: #ffffff;
  color: #ff6577;
  /* 2 */
  outline: none;
}
.gzh-tab > li:not(.gzh-active) > a:hover,
.gzh-tab > li:not(.gzh-active) > a:focus,
.gzh-tab > li.gzh-open:not(.gzh-active) > a {
  margin-bottom: 1px;
  padding-bottom: 7px;
}
/* Active */
.gzh-tab > li.gzh-active > a {
  border-bottom-color: transparent;
  border-top-color: #ff6577;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-width: 2px;
  background: #ffffff;
  color: #ff6577;
}
.gzh-tab > li.gzh-active:first-child > a {
  border-left-color: #dddddd;
}
.gzh-tab > li.gzh-active:last-child > a {
  border-right-color: #dddddd;
}
/* Disabled */
.gzh-tab > li.gzh-disabled > a {
  color: #999999;
  cursor: text;
}
.gzh-tab > li.gzh-disabled > a:hover,
.gzh-tab > li.gzh-disabled > a:focus,
.gzh-tab > li.gzh-disabled.gzh-active > a {
  background: none;
  border-color: transparent;
}
/* Modifier: 'tab--flip'
 ========================================================================== */
.gzh-tab--flip > li {
  float: right;
}
.gzh-tab--flip > li:nth-child(n+2) > a {
  margin-left: 0;
  margin-right: 5px;
}
/* Modifier: 'tab--responsive'
 ========================================================================== */
.gzh-tab > li.gzh-tab--responsive > a {
  margin-left: 0;
  margin-right: 0;
}
/*
 * Icon
 */
.gzh-tab--responsive > a:before {
  content: "\f0c9\00a0";
  font-family: FontAwesome;
}
/* Modifier: 'tab--center'
 ========================================================================== */
.gzh-tab--center {
  border-bottom: 1px solid #dddddd;
}
.gzh-tab--center-bottom {
  border-bottom: none;
  border-top: 1px solid #dddddd;
}
.gzh-tab--center:before,
.gzh-tab--center:after {
  content: "";
  display: table;
}
.gzh-tab--center:after {
  clear: both;
}
/*
 * 1. Using `right` to prevent vertical scrollbar caused by centering if to many tabs
 */
.gzh-tab--center .gzh-tab {
  position: relative;
  right: 50%;
  border: none;
  float: right;
}
.gzh-tab--center .gzh-tab > li {
  position: relative;
  right: -50%;
}
.gzh-tab--center .gzh-tab > li > a {
  text-align: center;
}
/* Modifier: 'tab--bottom'
 ========================================================================== */
.gzh-tab--bottom {
  border-top: 1px solid #dddddd;
  border-bottom: none;
}
.gzh-tab--bottom > li {
  margin-top: -1px;
  margin-bottom: 0;
}
.gzh-tab--bottom > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom-width: 1px;
  border-top-width: 0;
}
.gzh-tab--bottom > li:not(.gzh-active) > a:hover,
.gzh-tab--bottom > li:not(.gzh-active) > a:focus,
.gzh-tab--bottom > li.gzh-open:not(.gzh-active) > a {
  margin-bottom: 0;
  margin-top: 1px;
  padding-bottom: 8px;
  padding-top: 7px;
}
.gzh-tab--bottom > li.gzh-active > a {
  border-top-color: transparent;
  border-bottom-color: #ff6577;
}
/* Modifier: 'tab-grid'
 ========================================================================== */
/*
 * 1. Create position context to prevent hidden border because of negative `z-index`
 */
.gzh-tab--grid {
  margin-left: -5px;
  border-bottom: none;
  /* 1 */
  position: relative;
  z-index: 0;
}
.gzh-tab--grid:before {
  display: block;
  position: absolute;
  left: 5px;
  right: 0;
  bottom: -1px;
  border-top: 1px solid #dddddd;
  /* 1 */
  z-index: -1;
}
.gzh-tab--grid > li:first-child > a {
  margin-left: 5px;
}
.gzh-tab--grid > li > a {
  text-align: center;
}
/*
 * If `tab--bottom`
 */
.gzh-tab--grid.gzh-tab--bottom {
  border-top: none;
}
.gzh-tab--grid.gzh-tab--bottom:before {
  top: -1px;
  bottom: auto;
}
/* Modifier: 'tab--left', 'tab--right'
 ========================================================================== */
/* Tablet and bigger */
@media (min-width: 768px) {
  .gzh-tab--left,
  .gzh-tab--right {
    border-bottom: none;
  }
  .gzh-tab--left > li,
  .gzh-tab--right > li {
    margin-bottom: 0;
    float: none;
  }
  .gzh-tab--left > li > a,
  .gzh-tab--right > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .gzh-tab--left > li:nth-child(n+2) > a,
  .gzh-tab--right > li:nth-child(n+2) > a {
    margin-left: 0;
    margin-top: 5px;
  }
  .gzh-tab--left > li.gzh-active > a,
  .gzh-tab--right > li.gzh-active > a {
    border-color: #ff6577;
  }
  /*
     * Modifier: 'tab--left'
     */
  .gzh-tab--left {
    border-right: 1px solid #dddddd;
  }
  .gzh-tab--left > li {
    margin-right: -1px;
  }
  .gzh-tab--left > li > a {
    border-bottom-width: 1px;
    border-right-width: 0;
  }
  .gzh-tab--left > li:not(.gzh-active) > a:hover,
  .gzh-tab--left > li:not(.gzh-active) > a:focus {
    margin-bottom: 0;
    margin-right: 1px;
    padding-bottom: 8px;
    padding-right: 26px;
  }
  .gzh-tab--left > li.gzh-active > a {
    border-right-color: transparent;
  }
  /*
     * Modifier: 'tab--right'
     */
  .gzh-tab--right {
    border-left: 1px solid #dddddd;
  }
  .gzh-tab--right > li {
    margin-left: -1px;
  }
  .gzh-tab--right > li > a {
    border-bottom-width: 1px;
    border-left-width: 0;
  }
  .gzh-tab--right > li:not(.gzh-active) > a:hover,
  .gzh-tab--right > li:not(.gzh-active) > a:focus {
    margin-bottom: 0;
    margin-left: 1px;
    padding-bottom: 8px;
    padding-left: 26px;
  }
  .gzh-tab--right > li.gzh-active > a {
    border-left-color: transparent;
  }
}
/* ========================================================================
   Component: Card组件
 ========================================================================== */
.gzh-card .gzh-thumbnail {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.gzh-card .gzh-caption {
  margin-top: 16px;
  margin-bottom: 22px;
}
.gzh-card .gzh-label a {
  text-decoration: none;
}
.gzh-card p {
  margin: 0px;
}
.gzh-card .gzh-title {
  color: #333;
}
.gzh-card .gzh-label a,
.gzh-card .gzh-form,
.gzh-card .gzh-label {
  color: #666;
  font-size: 0.875em;
}
.gzh-card .gzh-form{
  color:#8A8782;
}
.gzh-card .gzh-label {
  margin-top: 10px;
}
.gzh-card .gzh-label .pull-right {
  display: none;
}

.gzh-card .gzh-form {
  border-top: 1px dashed #eee;
  padding-top: 8px;
  margin-top: :;px;
}
.gzh-card .gzh-price {
  color: #ff6577;
  font-size: 22px;
}
/* Modifier: 'card--285'
 ========================================================================== */
.gzh-card--285 .gzh-thumbnail {
  width: 285px;
  height: 177px;
}
/* Modifier: 'card--300'
 ========================================================================== */
.gzh-card--300 .gzh-thumbnail {
  width: 300px;
  height: 187px;
}
/* Modifier: 'card--180'
 ========================================================================== */
.gzh-card--180 .gzh-thumbnail {
  width: 180px;
  height: 106px;
  border: 1px solid #eee;
}
/* Modifier: 'card--380'
 ========================================================================== */
.gzh-card--380 .gzh-thumbnail {
  width: 380px;
  height: 285px;
}
/* Modifier: 'card--258'
 ========================================================================== */
.gzh-card--258 .gzh-thumbnail {
  width: 258px;
  height: 192px;
}
/* Modifier: 'card--184'
 ========================================================================== */
.gzh-card--184 .gzh-thumbnail {
  width: 184px;
  height: 138px;
}
.gzh-filter {
  position: relative;
  width: 100%;
  height: 40px;
  background: #fafafa;
  margin-bottom: 1px;
  border: 1px solid #ddd;
}
.gzh-filter ul li {
  float: left;
  height: 20px;
  width: auto;
  color: #333;
  line-height: 20px;
  padding: 0px 25px;
  margin: 10px 0px;
  border-right: 1px solid #ccc;
  border-bottom: none;
  font-size: 14px;
  cursor: pointer;
}
.gzh-filter ul li:hover {
  background: none;
  color: #ff6577;
}
.gzh-filter ul a {
  color: #333;
  text-decoration: none;
}
.gzh-filter ul .hover a {
  color: #ff6577;
}
.gzh-filter i {
  position: absolute;
  z-index: 15;
  top: 0px;
  right: 10px;
  display: block;
  height: 40px;
  color: #888;
  line-height: 40px;
  font-style: normal;
}
.gzh-filter i span {
  color: #ff6577;
  padding: 0px 5px;
}
/* ========================================================================
   Component: Overlay
 ========================================================================== */
/*
 * 1. Container width fits its content
 * 2. Create position context
 * 3. Set max-width for responsive images to prevent `inline-block` consequences
 * 4. Remove the gap between the container and its child element
 * 5. Needed for transitions and to fixed wrong scaling calculation for images in Chrome
 * 6. Fixed `overflow: hidden` to be ignored with border-radius and CSS transforms in Webkit
 * 7. Reset margin
 */
.gzh-overlay {
  /* 1 */
  display: inline-block;
  /* 2 */
  position: relative;
  /* 3 */
  max-width: 100%;
  /* 4 */
  vertical-align: middle;
  /* 5 */
  overflow: hidden;
  /* 6 */
  -webkit-transform: translateZ(0);
  /* 7 */
  margin: 0;
}
/* 6 for Safari */
.gzh-overlay.gzh-border-circle {
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}
/*
 * Remove margin from content
 */
.gzh-overlay > :first-child {
  margin-bottom: 0;
}
/* Sub-object `@{ns}overlay-panel`
 ========================================================================== */
/*
 * 1. Position cover
 * 2. Style
 */
.gzh-overlay-panel {
  /* 1 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* 2 */
  padding: 20px;
  color: #ffffff;
}
/*
 * Remove margin from the last-child
 */
.gzh-overlay-panel > :last-child,
.gzh-overlay-panel.gzh-flex > * > :last-child {
  margin-bottom: 0;
}
/*
 * Keep color for headings if the default heading color is changed
 */
.gzh-overlay-panel h1,
.gzh-overlay-panel h2,
.gzh-overlay-panel h3,
.gzh-overlay-panel h4,
.gzh-overlay-panel h5,
.gzh-overlay-panel h6 {
  color: inherit;
}
.gzh-overlay-panel a:not([class]) {
  color: inherit;
  text-decoration: underline;
}
.gzh-overlay-panel a[class*='gzh-icon-']:not(.gzh-icon-button) {
  color: inherit;
}
/* Sub-object `@{ns}overlay-hover` and `@{ns}overlay-active`
 ========================================================================== */
.gzh-overlay-hover:not(:hover):not(.gzh-hover) .gzh-overlay-panel:not(.gzh-ignore) {
  opacity: 0;
}
.gzh-overlay-active :not(.gzh-active) > .gzh-overlay-panel:not(.gzh-ignore) {
  opacity: 0;
}
/* Modifier `@{ns}overlay-background`
 ========================================================================== */
.gzh-overlay-background {
  background: rgba(0, 0, 0, 0.5);
}
/* Modifier `@{ns}overlay-image`
 ========================================================================== */
/*
 * Reset panel
 */
.gzh-overlay-image {
  padding: 0;
}
/* Position modifiers
 ========================================================================== */
.gzh-overlay-top {
  bottom: auto;
}
.gzh-overlay-bottom {
  top: auto;
}
.gzh-overlay-left {
  right: auto;
}
.gzh-overlay-right {
  left: auto;
}
/* Sub-object `@{ns}overlay-icon`
 ========================================================================== */
.gzh-overlay-icon:before {
  content: "\f002";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  font-size: 50px;
  line-height: 1;
  font-family: FontAwesome;
  text-align: center;
  color: #ffffff;
}
/* Transitions
 ========================================================================== */
.gzh-overlay-fade,
.gzh-overlay-scale,
.gzh-overlay-spin,
.gzh-overlay-grayscale,
.gzh-overlay-blur,
[class*='gzh-overlay-slide'] {
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: opacity transform filter;
}
.gzh-overlay-active .gzh-overlay-fade,
.gzh-overlay-active .gzh-overlay-scale,
.gzh-overlay-active .gzh-overlay-spin,
.gzh-overlay-active [class*='gzh-overlay-slide'] {
  transition-duration: 0.8s;
}
/*
 * Fade
 */
.gzh-overlay-fade {
  opacity: 0.7;
}
.gzh-overlay-hover:hover .gzh-overlay-fade,
.gzh-overlay-active .gzh-active > .gzh-overlay-fade {
  opacity: 1;
}
/*
 * Scale
 */
.gzh-overlay-scale {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.gzh-overlay-hover:hover .gzh-overlay-scale,
.gzh-overlay-active .gzh-active > .gzh-overlay-scale {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/*
 * Spin
 */
.gzh-overlay-spin {
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
}
.gzh-overlay-hover:hover .gzh-overlay-spin,
.gzh-overlay-active .gzh-active > .gzh-overlay-spin {
  -webkit-transform: scale(1.1) rotate(3deg);
  transform: scale(1.1) rotate(3deg);
}
/*
 * Grayscale
 */
.gzh-overlay-grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.gzh-overlay-hover:hover .gzh-overlay-grayscale,
.gzh-overlay-active .gzh-active > .gzh-overlay-grayscale {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
/*
 * Slide
 */
[class*='gzh-overlay-slide'] {
  opacity: 0;
}
/* Top */
.gzh-overlay-slide-top {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
/* Bottom */
.gzh-overlay-slide-bottom {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
/* Left */
.gzh-overlay-slide-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
/* Right */
.gzh-overlay-slide-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
/* Hover */
.gzh-overlay-hover:hover [class*='gzh-overlay-slide'],
.gzh-overlay-active .gzh-active > [class*='gzh-overlay-slide'] {
  opacity: 1;
  -webkit-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);
}
/* DEPRECATED
 * Sub-object `@{ns}overlay-area`
 ========================================================================== */
/*
 * 1. Set position
 * 2. Set style
 * 3. Fade-in transition
 */
.gzh-overlay-area {
  /* 1 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* 2 */
  background: rgba(0, 0, 0, 0.3);
  /* 3 */
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  -webkit-transform: translate3d(0, 0, 0);
}
/*
 * Hover
 * 1. `@{ns}hover` to support touch devices
 * 2. Use optional `@{ns}overlay-toggle` to trigger the overlay earlier
 */
.gzh-overlay:hover .gzh-overlay-area,
.gzh-overlay.gzh-hover .gzh-overlay-area,
.gzh-overlay-toggle:hover .gzh-overlay-area,
.gzh-overlay-toggle.gzh-hover .gzh-overlay-area {
  opacity: 1;
}
/*
 * Icon
 */
.gzh-overlay-area:empty:before {
  content: "\f002";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  font-size: 50px;
  line-height: 1;
  font-family: FontAwesome;
  text-align: center;
  color: #ffffff;
}
/* DEPRECATED
 * Sub-object `@{ns}overlay-area-content`
 ========================================================================== */
/*
 * Remove whitespace between child elements when using `inline-block`
 * Needed for Firefox
 */
.gzh-overlay-area:not(:empty) {
  font-size: 0.001px;
}
/*
 * 1. Needed for vertical alignment
 */
.gzh-overlay-area:not(:empty):before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/*
 * 1. Set vertical alignment
 * 2. Reset whitespace hack
 * 3. Set horizontal alignment
 * 4. Set style
 */
.gzh-overlay-area-content {
  /* 1 */
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  vertical-align: middle;
  /* 2 */
  font-size: 1rem;
  /* 3 */
  text-align: center;
  /* 4 */
  padding: 0 15px;
  color: #ffffff;
}
/*
 * Remove margin from the last-child
 */
.gzh-overlay-area-content > :last-child {
  margin-bottom: 0;
}
/*
 * Links in overlay area
 */
.gzh-overlay-area-content a:not([class]),
.gzh-overlay-area-content a:not([class]):hover {
  color: inherit;
}
/* DEPRECATED
 * Sub-object `@{ns}overlay-caption`
 ========================================================================== */
/*
 * 1. Set position
 * 2. Set style
 * 3. Fade-in transition
 */
.gzh-overlay-caption {
  /* 1 */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* 2 */
  padding: 15px;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  /* 3 */
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  -webkit-transform: translate3d(0, 0, 0);
}
/*
 * Hover
 * 1. `@{ns}hover` to support touch devices
 * 2. Use optional `@{ns}overlay-toggle` to trigger the overlay earlier
 */
.gzh-overlay:hover .gzh-overlay-caption,
.gzh-overlay.gzh-hover .gzh-overlay-caption,
.gzh-overlay-toggle:hover .gzh-overlay-caption,
.gzh-overlay-toggle.gzh-hover .gzh-overlay-caption {
  opacity: 1;
}
/* ========================================================================
   Component: Badge
 ========================================================================== */
.gzh-badge {
  display: inline-block;
  padding: 0 4px;
  background: #00a8e6;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  text-transform: none;
}
/*
 * Keep color when badge is a link
 */
a.gzh-badge:hover {
  color: #ffffff;
}
/* Modifier: `@{ns}badge-notification`;
 ========================================================================== */
.gzh-badge-notification {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 18px;
  border-radius: 500px;
  font-size: 12px;
  line-height: 18px;
}
/* Color modifier
 ========================================================================== */
/*
 * Modifier: `@{ns}badge-success`
 */
.gzh-badge-success {
  background-color: #ff6577;
}
/*
 * Modifier: `@{ns}badge-warning`
 */
.gzh-badge-warning {
  background-color: #4fa6ff;
}
/*
 * Modifier: `@{ns}badge-danger`
 */
.gzh-badge-danger {
  background-color: #da314b;
}
.gzh-media {
  padding: 20px 0px;
  border-bottom: 1px solid #ddd;
  font-size: 0.875em;
}
.gzh-media-active,
.gzh-media:hover {
  background-color: #fff9fa;
}
.gzh-media,
.gzh-media-body {
  zoom: 1;
  overflow: hidden;
}
.gzh-media-body {
  width: 10000px;
}
.gzh-media-object {
  display: block;
}
.gzh-media-object.img-thumbnail {
  max-width: none;
}
.gzh-media-right,
.gzh-media > .pull-right {
  padding-right: 20px;
  text-align: right;
  width: 18%;
}
.gzh-media-left,
.gzh-media > .pull-left {
  padding-right: 20px;
}
.gzh-media-left,
.gzh-media-right,
.gzh-media-body {
  display: table-cell;
  vertical-align: top;
}
.gzh-media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.gzh-media-list {
  padding-left: 0;
  list-style: none;
}
/* media modifier
 ========================================================================== */
/*
 * Modifier: `@{ns}media--middle`
 */
.gzh-media--middle {
  vertical-align: middle;
}
/* media modifier
 ========================================================================== */
/*
 * Modifier: `@{ns}media--bottom`
 */
.gzh-media--bottom {
  vertical-align: bottom;
}
/* media modifier
 ========================================================================== */
/*
 * Modifier: `@{ns}media-hover`
 */
/* Transitions
 ========================================================================== */
.gzh-media-fade {
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: opacity transform filter;
}
/*
 * Fade
 */
.gzh-media-fade {
  opacity: 0.1;
}
.gzh-media--hover:hover .gzh-media-fade,
.gzh-media-active .gzh-active > .gzh-media-fade {
  opacity: 1;
}
/* media modifier
 ========================================================================== */
/*
 * Modifier: `@{ns}media-258`
 */
.gzh-media--258 .gzh-media-object {
  width: 258px;
  height: 160px;
}
.gzh-media .gzh-media-body a {
  color: #666;
}
.gzh-media .title {
  margin-top: 4px;
  margin-bottom: 24px;
}
.gzh-media .title,
.gzh-media .title a {
  font-size: 1.125em;
  color: #333;
  margin-right: 10px;
}
.gzh-media .price {
  margin-bottom: 20px;
}
.gzh-media .gm-info-star {
  margin-bottom: 22px;
}
.gzh-media .works {
  margin-bottom: 22px;
}
.gzh-media .works a {
  color: #666;
  text-decoration: none;
}
.gzh-media .works a:first-child {
  margin-right: 20px;
}
.gzh-media .works span {
  padding-left: 10px;
}
.gzh-media .works span:hover {
  text-decoration: underline;
}
.gzh-media .area {
  margin-bottom: 30px;
}
.gzh-tile-group {
  min-width: 242px;
  width: auto;
  float: left;
  display: block;
  padding-top: 0px;
  position: relative;
}
.gzh-tile-group.one {
  width: 242px;
}
.gzh-tile-group.two,
.gzh-tile-group.double {
  width: 484px;
}
.gzh-tile-container {
  width: 1210px;
  margin: 0px -5px;
  height: auto;
  display: block;
  padding: 0;
}
.gzh-tile-container:before,
.gzh-tile-container:after {
  content: " ";
  display: table;
}
.gzh-tile-container:after {
  clear: both;
}
.gzh-tile {
  width: 232px;
  height: 232px;
  display: block;
  float: left;
  margin: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  user-select: none;
}
.gzh-tile a {
  width: 100%;
  height: 100%;
}
.gzh-tile:hover {
  outline: #f2f2f2 solid 3px;
}
.gzh-tile:active {
  outline: 0;
}
.gzh-tile.no-outline {
  outline-color: transparent;
}
.gzh-tile-wide {
  width: 474px;
  height: 232px;
}
.gzh-tile-wide-x {
  width: 474px;
}
.gzh-tile-wide-y {
  height: 474px;
}
.gzh-tile .gzh-overlay-scale {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.gzh-tile .price {
  font-size: 18px;
  color: #ff6577;
}
.gzh-tile del {
  padding-left: 10px;
}
.gzh-main {
  margin-top: 40px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.gzh-main:before,
.gzh-main:after {
  content: " ";
  display: table;
}
.gzh-main:after {
  clear: both;
}
.favour>a,.gift>a{height: 20px;
width: 450px;
display: inline-block;
overflow: hidden;
vertical-align: middle;}