<link rel="stylesheet" href="/static/crm/js/plugins/dataTime/jquery.datetimepicker.css" />
<link href='/static/crm/css/order/order.css' rel='stylesheet' />	
<?py include('crm/calender/doublecalender.html') ?>
<style>
.p-red{
    color:red
    }
</style>

<?py  import datetime ?>
<div id="content" class="col-lg-10 col-sm-10">
	<!--<ul class="breadcrumb">
		<li><a href="#">公主号</a></li>
		<li><a href="#">订单管理</a></li>
	</ul>				-->
	<!-- content starts -->		
	<div class="row-fluid sortable">		
		<div class="box col-md-12">
			<div class="box-inner">
				<div class="box-header well" data-original-title>
					<h2>服务管理</h2>
				</div>
				<div class="box-content box-search">
		             <form action="" method="get" class="form-search col-md-8">
		                 <input type="hidden" name="order_status" id="order_status" value="${order_status}">
	                    <div class="col-md-4">
	                        <?py if start_date:?>
	                            <input type="text" class="form-control" name="sch_date" id="sch_date" value="${start_date and start_date or ''}-${end_date and end_date or ''}" placeholder="请输入时间"/>
	                        <?py else:?>
	                            <input type="text" class="form-control" name="sch_date" id="sch_date" value="" placeholder="请输入时间"/>
	                        <?py #endif ?>
	                    </div>

						<div class="input-group">
					    		<input type="text" value="${search_text and search_text or ''}" name='search_text' class="form-control input-txt" placeholder="请输入订单号/手机号/姓名搜索" />
					      	<span class="input-group-btn">
					        		<button class="btn btn-default" type="submit">搜索</button>
					      	</span>
					    </div>
					</form>	
					<div class="col-md-4">
						<a class="btn btn-success add-order" href="/merchant/orders/add/"><i class="glyphicon glyphicon-plus"></i>添加</a>
					</div>
				</div>
				<div class="box-content orders">
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane active" id="order-all">
							<form class="form-horizontal">
								<table class="table">
									<thead>
										<tr>
											<th class="order-no">订单号码</th>
											<th class="order-customer">客户姓名</th>
											<th class="order-mobile">客户手机</th>
											<th class="order-type">订单类型</th>
											<th class="order-balance">订单余额</th>
                                            <?py if order_status=='0':?>
                                                <th class="order-date">订单时间</th>
                                                <th class="order-date">拍摄时间</th>
                                            <?py elif order_status=='1':?>
                                                <th class="order-date">拍摄时间</th>
                                                <th class="order-date">试衣时间</th>
                                            <?py elif order_status=='2':?>
                                                <th class="order-date">拍摄时间</th>
                                                <th class="order-date">选片时间</th>
                                            <?py elif order_status=='3':?>
                                                <th class="order-date">选片时间</th>
                                                <th class="order-date">定稿时间</th>
                                            <?py elif order_status=='4':?>
                                                <th class="order-date">定稿时间</th>
                                                <th class="order-date">取件时间</th>
                                            <?py elif order_status=='5':?>
                                                <th class="order-date">订单时间</th>
                                                <th class="order-date">取件时间</th>
                                            <?py elif order_status=='6':?>
                                                <th class="order-date">订单时间</th>
                                                <th class="order-date">取件时间</th>
                                            <?py elif order_status=='7':?>
                                                <th class="order-date">订单时间</th>
                                                <th class="order-date">拍摄时间</th>
                                            <?py #endif ?>
											<th width="20%">备注</th>
											<th class="order-action" >操作</th>
										</tr>
									</thead>   
									<tbody>
		                            <?py import datetime?>
										<?py for item in items.result: ?>
										<tr>
											<input type="hidden" id="order_id" value="${item.Fid}" />
											<td class="order-no">${item.Forder_id_user}</td>
											<td class="order-customer">${item.Fuser_name}</td>
											<td class="order-mobile">${item.Fuser_mobi}</td>
											<td class="order-type">${ORDER_TYPES[item.Forder_type]}</td>
											<td class="order-balance">${item.Famount}元</td>

                                            <?py if order_status=='0':?>
                                                <td class="order-date tcenter">#{datetime.datetime.strftime(item.Fcreate_time,'%Y-%m-%d')}</td>
                                                <td class="order-date tcenter">#{item.Fshot_time and datetime.datetime.strftime(item.Fshot_time,'%Y-%m-%d') or '<p class="p-red">待定</p>'}</td>
                                            <?py elif order_status=='1':?>
                                                <td class="order-date tcenter">#{item.Fshot_time and datetime.datetime.strftime(item.Fshot_time,'%Y-%m-%d') or '<p class="p-red">待定</p>'}</td>
                                                <td class="order-date tcenter">#{item.Ffitting_time and datetime.datetime.strftime(item.Ffitting_time,'%Y-%m-%d') or '<p class="p-red">待定</p>'}</td>
                                            <?py elif order_status=='2':?>
                                                <td class="order-date tcenter">#{item.Fshot_time and  datetime.datetime.strftime(item.Fshot_time,'%Y-%m-%d') or '<p class="p-red">待定</p>'}</td>
                                                <td class="order-date tcenter">#{item.Fselect_time and datetime.datetime.strftime(item.Fselect_time,'%Y-%m-%d')  or '<p class="p-red">待定</p>'}</td>
                                            <?py elif order_status=='3':?>
                                                <td class="order-date tcenter">#{item.Fselect_time and datetime.datetime.strftime(item.Fselect_time,'%Y-%m-%d')  or '<p class="p-red">待定</p>'}</td>
                                                <td class="order-date tcenter">#{item.Fcertain_time and datetime.datetime.strftime(item.Fcertain_time,'%Y-%m-%d') or '<p class="p-red">待定</p>'}</td>
                                            <?py elif order_status=='4':?>
                                                <td class="order-date tcenter">#{item.Fcertain_time and datetime.datetime.strftime(item.Fcertain_time,'%Y-%m-%d') or '<p class="p-red">待定</p>'}</td>
                                                <td class="order-date tcenter">#{item.Fabtain_time and datetime.datetime.strftime(item.Fabtain_time,'%Y-%m-%d') or '<p class="p-red">待定</p>'}</td>
                                            <?py elif order_status=='5':?>
                                                <td class="order-date tcenter">#{datetime.datetime.strftime(item.Fcreate_time,'%Y-%m-%d')}</td>
                                                <td class="order-date tcenter">#{item.Fabtain_time and datetime.datetime.strftime(item.Fabtain_time,'%Y-%m-%d') or '<p class="p-red">待定</p>'}</td>
                                            <?py elif order_status=='6':?>
                                                <td class="order-date tcenter">#{datetime.datetime.strftime(item.Fcreate_time,'%Y-%m-%d')}</td>
                                                <td class="order-date tcenter">#{item.Fabtain_time and datetime.datetime.strftime(item.Fabtain_time,'%Y-%m-%d') or '<p class="p-red">待定</p>'}</td>
                                            <?py elif order_status=='7':?>
                                                <td class="order-date tcenter">#{datetime.datetime.strftime(item.Fcreate_time,'%Y-%m-%d')}</td>
                                                <td class="order-date tcenter">#{item.Fshot_time and datetime.datetime.strftime(item.Fshot_time,'%Y-%m-%d') or '<p class="p-red">待定</p>'}</td>
                                            <?py #endif ?>
                                            <td class="order-date">${item.Fcomment}</td>

		                                                <td class="order-action center">
		                                                    <a class="btn btn-primary btn-sm" href="/merchant/orders/update/${item.Fid}/">修改</a>
		                                                    <a class="btn btn-success btn-sm" href="/merchant/schedule/${item.Fid}/">排期</a>
                                                            <?py if order_status=='7':?>
                                                                    <a onclick="orders.delete(${item.Fid},this)" class="btn btn-danger btn-sm order_delete" href="javascript:;">退单</a>
                                                                <?py #endif ?>
		                                                    <!--<a class="btn btn-danger btn-sm btn-share" href="#">分享</a>
															<div class="shareQR" style="display: none;">
											                    <div class="dialog">
											                       	<h2>${item.Fuser_name}<a href="javascript:void(0)" class="tright"><i class="close glyphicon glyphicon-remove"></i></a></h2>
																	<div class="QR-code">
																		<img src="/common/tools/binary_img/${item.Fid}/" alt=""  width="180" height="180"/>
																	</div>
																	<div class="QR-info">
																		<h2>${item.Fuser_name}</h2>
																		<p>订单号：${item.Forder_id_user}</p>
																		<p>手机号：${item.Fuser_mobi}</p>
																	</div>
											                    </div>
											                </div>-->
		                                                </td>
										    </tr>
										<?py #endfor ?>
									</tbody>
		                            #{page_html}
								</table>
							</form>
						</div>
					</div>

				</div>
			</div><!--/span-->
		</div>
	</div><!--/row-->

</div><!--/#content.span10-->


<!--gzh func js-->
<script src="/static/crm/js/plugins/dataTime/jquery.datetimepicker.js" ></script>
<script src="/static/crm/js/order/order.js"></script>
<script type="text/javascript">

var orders = {
    delete:function(order_id,e){
           BootstrapDialog.show({
                title: '退单',
                message: '退单不可恢复,确定退单',
                buttons: [{
                    label: '取消',
                    action: function(dialogItself){
                        dialogItself.close()
                    }
                },
                {
                    label: '确认',
                    action: function(dialogItself){
                          dialogItself.close()
                          $.get('/merchant/orders/delete/'+order_id,function(data){
                                   var obj = $.parseJSON(data);
                                   if(obj.stat=='1000'){
                                         alert(obj.msg);
                                         $(e).closest('tr').remove();
                                   }else{
                                        alert(obj.msg);
                                    }
                           })
                    }
                }]
            });
    }
}

$(document).ready(function() {
  $('#sch_date').daterangepicker({}, function(start, end, label) {
    console.log(start.toISOString(), end.toISOString(), label);
  });

      <?py if order_status=='7':?>
        $(".all_orders").addClass("active");
      <?py elif order_status=='0':?>
        $(".shot_orders").addClass("active");
      <?py elif order_status=='1':?>
        $(".fitting_orders").addClass("active");
      <?py elif order_status=='2':?>
        $(".select_orders").addClass("active");
      <?py elif order_status=='3':?>
        $(".certain_orders").addClass("active");
      <?py elif order_status=='4':?>
        $(".abtain_orders").addClass("active");
      <?py elif order_status=='5':?>
        $(".waiting_orders").addClass("active");
      <?py elif order_status=='6':?>
        $(".close_orders).addClass("active");
      <?py elif order_status=='8':?>
        $(".delete_orders).addClass("active");
      <?py #endif ?>

   });
 </script>
