<link rel="stylesheet" href="/static/mobile/css/users/index.css"  />
<header class="header">
	<a class="back" href="javascript:history.go(-1);"><span class="icon icon-back"></span></a>
	<p class="title">修改密码</p>
</header>
<section class="cd-main-content password">
	#{xsrf_form_html}
	<ul class="ul-list">
		<li>
			<label for="old_pwd">原密码：</label>
			<input type="password" name="password" id="old_pwd" />
		</li>
		<li>
			<label for="new_pwd">新密码：</label>
			<input type="password" name="password" id="new_pwd" />
		</li>
		<li>
			<label for="confirm_pwd">确认密码：</label>
			<input type="password" name="password" id="confirm_pwd" />
            
		</li>
		<li class="noBorder">
			<input type="submit" name="submit" class="btn btn_modify" id="btn_modify" value="修改" style="-webkit-appearance : none"/>
		</li>
		<p class="red tcenter" id="msg"></p>
	</ul>
</section>
<script src="/static/mobile/js/login/pwd.js"></script>