<link rel="stylesheet" href="/static/skin/css/merchant.css"/>
<div class="gzh-container bg-white ">
    <div class="gzh-position w1200">
        <a href="">首页</a>
        <span> > </span>
        <a href="/weddingcompany/merchant/">商家列表</a>
        <span> > </span>
        <span class="text-red">${company.Fcompany_name}</span>
    </div>
    <div class="main w1200 clear">

        <!--left content start-->
        <div class="gzh-merchant w940 fl">

            <!--商家详情 start-->
            <div class="gm-item m30">
                <div class="gm-info">
                    <img class="gm-info-img gzh-lazy" data-lazyload="${company.Fphoto_url}" width="459" height="279" title="${company.Fcompany_name}" alt="${company.Fcompany_name}" />
                    <div class="gm-info-extra">
                        <h1 class="f22">${company.Fcompany_name}
                            <!--<span class="bg-red gm-gift">惠</span>-->
                            <!--<span class="bg-blue gm-gift">返</span>-->
                        </h1>
                        <p class="text-red gm-info-star">
                            <i class="iconfont gzh-star"></i>
                            <i class="iconfont gzh-star"></i>
                            <i class="iconfont gzh-star"></i>
                            <i class="iconfont gzh-star"></i>
                            <i class="iconfont gzh-star"></i>
                        </p>
                        <p class="gm-info-tips f14"><span class="icon icon-gift"></span>
                            ${company_gift and company_gift.Fcontent or '无'}
                        </p>
                        <p class="gm-info-tips f14"><span class="icon icon-saleoff"></span>
                            ${order_gift and order_gift.Fcontent or '无'}
                        </p>
                        <!--<p class="gm-info-style">
                            <span class="dark-gray"></span>
                            <span class="dark-gray"></span>
                        </p>-->
                        <p class="dark-gray">
                            地址：${company.Fdetail_address}
                        </p>
                        <p class="dark-gray">
                            联系电话：${company.Fphone}
                        </p>
                        <p class="gm-info-action">
                            <div class="fr gm-works-share">
                               <div class="bdsharebuttonbox" data-tag="share_1">
                                    <a class="bds_more" data-cmd="more"><i class="iconfont gzh-share"></i>分享</a>
                               </div>

                                <script>
                                    window._bd_share_config = {
                                        common : {
                                            bdText : '${company.Fcompany_name}',
                                            bdDesc : '',
                                            bdUrl : 'http://www.gongzhuhao.com/weddingcompany/merchant/${company.Fid}',
                                            bdPic : '${company.Fphoto_url}'
                                        },
                                        share : [{
                                            "bdSize" : 16
                                        }],
                                        slide : [{
                                            bdImg : 0,
                                            bdPos : "right",
                                            bdTop : 100
                                        }],

                                        selectShare : [{
                                            "bdselectMiniList" : ['qzone','tqq','kaixin001','bdxc','tqf']
                                        }]
                                    }
                                </script>
                            </div>
                            <div class="fr gm-works-fav">
                                <a class="bds_more"><i class="iconfont gzh-star"></i>收藏</a>
                            </div>
                            <a href="javascript:;" onclick="orderShow()" class="btn btn-order text-center">预约看店</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--商家详情 end-->

           <!-- <div class="gm-item gm-location f18 m30" id="gmFixNav">
                <a href="#hot-series" class="current">热门套系</a>
                <a href="#hot-works">作品集</a>
                <a href="#user-reviews">用户评价</a>
            </div>-->

            <!--热门套系 start-->
            <div class="gm-item m30">
                <h2 class="gm-item-title f20" id="hot-series">
                    <?py if series_count>6:?>
                        <a href="/weddingcompany/merchant/all/series/${merchant_id}" class="more" target="_blank" title="查看全部">查看全部<i class="iconfont gzh-enter"></i></a>
                    <?py #endif ?>
                    热门套系</h2>
                <div class="gm-hot">

                    <?py if series:?>
                        <?py for s in series:?>
                            <div class="gm-hot-item">
                                <a href="/weddingcompany/series/${s.Fid}" class="img-link" target="_blank" title="${s.Fpackage_name}">
                                    <img data-lazyload="${s.Fcover_img}" class="gzh-lazy img-hover" width="300" height="187" alt="${s.Fpackage_name}"/>
                                    <span class="img-cover"></span>
                                </a>
                                <p class="gm-hot-extra">
                                    <span class="gm-like text-gray fr">
                                        <i class="iconfont gzh-like_line"></i>

                                    </span>
                                    <span class="gm-price text-red">
                                        <i class="price">¥</i>${s.Fsale_price}
                                    </span>
                                    <del class="text-gray">
                                        <i class="price">¥</i>${s.Fprice}
                                    </del>
                                </p>
                                <p class="gm-hot-title">
                                    <a href="/weddingcompany/series/${s.Fid}" target="_blank" title="${s.Fpackage_name}">${s.Fpackage_name}</a>
                                </p>
                            </div>
                        <?py #endfor?>
                    <?py #endif ?>

                </div>
            </div>
            <!--热门套系 end-->

            <!--作品集 start-->
            <div class="gm-item m30">
                <h2 class="gm-item-title f20" id="hot-works">
                    <?py if work_count>6:?>
                        <a href="/weddingcompany/work/all/work/${merchant_id}" class="more" target="_blank" title="查看全部">查看全部<i class="iconfont gzh-enter"></i></a>
                    <?py #endif ?>
                    作品集</h2>
                <div class="gm-hot">

                    <?py if works:?>
                        <?py for p in works:?>
                            <div class="gm-hot-item">
                                <a href="/weddingcompany/work/${p.Fid}" class="img-link" target="_blank" title="${p.Fname}">
                                    <img data-lazyload="${p.Fcover_img}" class="gzh-lazy img-hover" width="300" height="187" alt="${p.Fname}"/>
                                    <span class="img-cover"></span>
                                </a>
                                <p class="gm-hot-title">
                                   <!-- <span class="gm-like text-gray fr">
                                        <i class="iconfont gzh-like_line"></i>
                                    </span>-->
                                    <span><a href="/weddingcompany/work/${p.Fid}" target="_blank">${p.Fname}</a></span>
                                </p>
                            </div>
                        <?py #endfor ?>
                    <?py #endif ?>

                </div>
            </div>
        </div>
        <!--left content end-->

        <!--right content start-->
        <div class="gzh-side w230 fr">
            <!--<div class="gzh-ad m30">
                <img src="" width="230" height="142"/>
            </div>-->
            <div class="gzh-side-pro">
                <p class="gs-title">
                    <span>精品推荐</span>
                </p>

                <?py if recommend_series:?>
                    <?py for s in recommend_series:?>
                        <div class="gs-item">
                            <a href="/weddingcompany/series/${s.Fid}" class="img-link" target="_blank" title="${s.Fpackage_name}">
                                <img data-lazyload="${s.Fcover_img}" class="gzh-lazy img-hover" width="190" height="118" alt="${s.Fpackage_name}"/>
                                <span class="img-cover"></span>
                            </a>
                            <h2 class="f14"><a href="/weddingcompany/series/${s.Fid}">${s.Fpackage_name}</a></h2>
                            <p class="gm-price text-red f20">
                                <i class="price">¥</i>${s.Fsale_price}
                            </p>
                        </div>
                    <?py #endfor ?>
                <?py #endif ?>

            </div>
        </div>
        <!--right content end-->
    </div>
</div>

<?py include('view/merchant/order_alert.html') ?>
<script>
    function orderShow(){
        $('#order_modal').modal();
    }

    function showCon(){
        $('.order-content').fadeOut();
        $('.order-succcess').fadeIn();
    }

    <!--$(function() {-->
        <!--var elm = $('#gmFixNav');-->
        <!--var startPos = $(elm).offset().top;-->
        <!--$.event.add(window, "scroll", function() {-->
            <!--var p = $(window).scrollTop();-->
            <!--$(elm).css('position',((p) > startPos) ? 'fixed' : 'static');-->
            <!--$(elm).css('top',((p) > startPos) ? '0px' : '');-->
        <!--});-->
    <!--});-->
    $('#nav_merchant').addClass('current');
    $('#nav_merchant').html('婚庆公司<i class="iconfont gzh-down"></i>');
    $('.nav-dropdown').css({left:'0px'})

</script>