<?py include('view/account/_header.html') ?>
                    <div class="col-lg-9 col-md-9">
						<div class="gzh-well clearfix">
							<h4 class="h4 pull-left ng-scope">小组话题</h4>
							<ul class="pull-left nav-profile">
								<li><a href="index.html">我的话题</a></li>
								<li><a href="reply.html">我的回复</a></li>
								<li><a href="attention.html" class="current">关注的话题</a></li>
							</ul>
						</div>
                        <div class="gzh-profile">
                            <article class="gzh-article">
                               <header class="gzh-article-header">
                                <h2>
                                    <i class="icon icon20 icon-top"></i>
                                    <i class="icon icon20 icon-essence"></i>
                                    <a href="">晒一晒抢楼礼物~好惊喜哦~</a>
                                </h2>
                               </header>
                               <div class="gzh-article-cons">
                                    <p class="gzh-article-text">一直不相信网络平台的抽奖活动,但是一直手贱去参与,就像吃饭开个人发票 求中5块钱的心理,前段时间闲来无事刷微信我去！上班忙里偷闲盖个楼 就能得黄金！谁都不能阻拦我抢黄金！话不多说 没有中了奖不刺激人的道理！来人啊 放图！</p>
                                   	<div class="gzh-article-thumb">
								   		<img class="gzh-acticle-img" src="../images/001.jpg" width="120" height="80"/>
									</div>
                               </div>
                            </article>
                            <article class="gzh-article">
                               <header class="gzh-article-header">
                                <h2>
                                    <i class="icon icon20 icon-top"></i>
                                    <i class="icon icon20 icon-essence"></i>
                                    <a href="">晒一晒抢楼礼物~好惊喜哦~</a>
                                </h2>
                               </header>
                               <div class="gzh-article-cons">
                                    <p class="gzh-article-text">一直不相信网络平台的抽奖活动,但是一直手贱去参与,就像吃饭开个人发票 求中5块钱的心理,前段时间闲来无事刷微信我去！上班忙里偷闲盖个楼 就能得黄金！谁都不能阻拦我抢黄金！话不多说 没有中了奖不刺激人的道理！来人啊 放图！</p>
								   	<div class="gzh-article-thumb">
								   		<img class="gzh-acticle-img" src="../images/001.jpg" width="120" height="80"/>
										<img class="gzh-acticle-img" src="../images/001.jpg" width="120" height="80"/>
										<img class="gzh-acticle-img" src="../images/001.jpg" width="120" height="80"/>
									</div>
                               </div>
                            </article>
                        </div>
					</div>
				</div>
			</section>

			<?py include('view/account/_footer.html') ?>
			<script>
				$(function(){
					$('#user_topics').addClass('current');
				})
			</script>
