<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" charset="utf-8" src="/static/skin/js/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" href="/static/skin/css/common.css" />
    <link rel="stylesheet" href="/static/skin/css/gzh-base.css" />
    <link rel="stylesheet" href="/static/skin/css/login.css" />
    <link rel="stylesheet" href="/static/skin/css/icon.css" />
</head>
<body>
    <div class="wrapper">
        <div class="gzh-login">
            <div class="gzh-login-header">
                <p class="gzh-logo">
                    <a href="/"> <img src="/static/skin/images/login_logo.png" width="110" height="40" /></a>
                </p>
                <p class="f16 fn">
                    <a href="/login" class="login current">登录</a>
                    <span class="gzh-vline">|</span>
                    <a href="/reg" class="reg">注册</a>
                </p>
            </div>
            