{#<!-- basic scripts -->#}
{##}
{#<!--[if !IE]> -->#}
{##}
{#<script src="/static/ops/bootstrap/js/jquery-2.0.3.min.js"></script>#}
{#<script src="/static/ops/bootstrap/js/bootstrap.min.js"></script>#}
{#<script src="/static/ops/bootstrap/js/typeahead-bs2.min.js"></script>#}
{##}
{#<!-- page specific plugin scripts -->#}
{##}
{#<!--[if lte IE 8]>#}
{#<script src="/static/ops/bootstrap/js/excanvas.min.js"></script>#}
{#<![endif]-->#}
{#<script src="/static/ops/bootstrap/js/ace-extra.min.js"></script>#}
{#<script src="/static/ops/bootstrap/js/jquery-ui-1.10.3.custom.min.js"></script>#}
{#<script src="/static/ops/bootstrap/js/jquery.ui.touch-punch.min.js"></script>#}
{#<script src="/static/ops/bootstrap/js/jquery.slimscroll.min.js"></script>#}
{#<script src="/static/ops/bootstrap/js/jquery.easy-pie-chart.min.js"></script>#}
{#<script src="/static/ops/bootstrap/js/jquery.sparkline.min.js"></script>#}
{#<script src="/static/ops/bootstrap/js/flot/jquery.flot.min.js"></script>#}
{#<script src="/static/ops/bootstrap/js/flot/jquery.flot.pie.min.js"></script>#}
{#<script src="/static/ops/bootstrap/js/flot/jquery.flot.resize.min.js"></script>#}
{#<script src="/static/ops/bootstrap/js/jquery.gritter.min.js"></script>#}
{##}
{##}
{#<!-- inline scripts related to this page -->#}