<script>
	// this is important for IEs
	var polyfilter_scriptpath = '/static/assets/js/dialog/js/';
</script>
<link rel="stylesheet" href="/static/ops/assets/js/dialog/css/component.css" />
<script src="/static/ops/assets/js/dialog/js/modernizr.custom.js"></script>

<script src="/static/ops/assets/js/dialog/js/jquery.modalEffects.js"></script>
<script src="/static/ops/assets/js/dialog/js/cssParser.js"></script>
<script src="/static/ops/assets/js/dialog/js/css-filters-polyfill.js"></script>
<script src="/static/ops/assets/js/dialog/js/classie.js"></script>

